@font-face {
  font-family: "Carrois Gothic";
  src: url("../fonts/CarroisGothic-Regular.ttf");
}

.container {
  position: relative;
}

.photo {
  position: absolute;
  right: 5vw;
  top: 25vh;
}

.photo img {
  height: 550px;
}

.textbox {
  padding-top: 33vh;
  margin-left: 10vw;
  color: #28231d;
  position: absolute;
  z-index: 1;
}

.textbox h2 {
  font-size: 80px;
  font-family: "Carrois Gothic";
  display: inline;
}

.textbox h3 {
  font-size: 40px;
  font-family: "Carrois Gothic";
  color: #474747;
}

.typing {
  color: #f77f00;
}
