.infoCard {
  background-color: #fefefa;
  width: 40%;
  height: 35%;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(247, 128, 0, 0.315);
  border-radius: 10px;
}

.infoCard:hover {
  background-color: #f77f00;
}

.infoCard:hover p {
  color: #fefefa;
}

.infoCard img {
  height: 60%;
  width: 100%;
  margin-top: 10%;
}

.infoCard div {
  height: 20%;
  text-align: center;
}

.infoCard p {
  color: #f77f00;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: 3px;
}
